
body{
    background-color: rgb(232, 243, 238);
}

.content{
   
    display: flex;
    flex-direction: column;
    align-items: center;
}
.childeren{
    display: flex;
    border: 1px beige;
}
.person{
    border: 5px solid black;
    display: flex;
    flex-direction: column;
    width: 90%;
}
.friends{
    display: flex;
}
img {
    
    border-radius: 4px;
    padding: 5px;
    width: 100px;
  }
  .friend{
    display: flex;
    flex-wrap: wrap;
  }